#recordingVisualDiv, #getPersonalityBtnDiv, #progressBarDiv {
	display: flex;
	justify-content: center;
}

#getPersonalityBtnDiv {
	margin-top: 20px;
}

#stop, #recordButton {
	padding: 20px 20px 20px 0px;
}

#progressBarInnerDiv {
	padding: 0;
}